:root {
  --main-color: '#2d2d2d';
  --secondary-color: '#1d1d1d';
  --extra-color: '#0c8656';
  --extra-colorlight: '#0dda92';
  --extra-colordark: '#0a9465';
  --font-color: 'whitesmoke';
  --hovering-color: '#0a63454a';
  --icons-color: '';
}
